<div class="chat__root">
  <div class="chat__messege-list-bar">
    <div class="chat__messege-list-bar__navigation">
      <div class="chat__messege-list-bar__button">
        {{{editAccountButton}}}
      </div>
      <div class="divider_sm"></div>
      <input placeholder="поиск" />
    </div>
    <div class="chat-items-group">
      {{{chatItem}}}
    </div>
  </div>

  <div class="chat-messege-group">
    <div class="messages">
      {{{chat}}}
    </div>

    <form>
      <div class="chat-button-group">
        {{{addFileIcon}}}
        <input name="message" placeholder="Сообщение" class='input-field__input' />
        {{{sendMessageIcon}}}
      </div>
    </form>
  </div>
</div>
