<div class="chat__item">
  <div class="col1">
    <div>
      <img class="chat__avatar" src={{avatar}} alt="avatar" />
    </div>
    <div class="chat-item__user-info">
      <div class="chat-item__name">{{userName}}</div>
      <div class="chat-item__message">{{message}}</div>
    </div>
  </div>

  <div class="col2">
    <div class="chat-list__time">{{createTime}}</div>
    <div class="chat-list__counter">{{count}}</div>
  </div>
</div>
